.header {
    padding: 15px 20px;
    padding-top: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;

    .nav-link-left {
        display: flex;
    }

    .nav-link-right {
        display: flex;
        gap: 80px;
        padding-right: 20px;
    }

    .nav-link {
        font-size: 25px;
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0); 
            height: 3px;
            bottom: -5px; 
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.15s ease-out; 
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    
    .nav-link.active
    {
        color: var(--accent-color);
        text-shadow: var(--accent-color) 0 0 10px;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1); 
            height: 3px;
            bottom: -5px; 
            left: 0;
            background-color: var(--accent-color);
        }
    }

    .nav-link-hover {
        display: inline-block;
        &:hover {
            animation: tada 0.5s;
        }
    }

    .animate-slow {
        --animate-duration: 2.0s;
    }

    $delay-increment: 0.1s;
    $number-of-links: 4;

    @for $i from 1 through $number-of-links {
        .animate__delay-#{$i} {
            animation-delay: $delay-increment * $i;
        }
    }
}