.contact-page-alignment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.contact-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 4px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.4);
    border-radius: 7%;
    padding: 40px 60px;
}

.contact-header {
    font-size: clamp(40px, 6vh + 0.5px, 60px);
}

.contact-text-input {
    width: clamp(300px, 40vw + 0.5px, 1000px);
    height: clamp(30px, 4vh + 0.5px, 100px);
    border: 3px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    color: white;
    border-radius: 0.5vw 1vh;
    padding: 10px 10px;
    font-size: 20px;

    &::placeholder {
        color: white;
        opacity: 0.8;
    }

    &:focus {
        outline: none;
    }
}

.contact-text-message {
    display: block;
    resize: vertical;
    height: clamp(150px, 20vh + 0.5px, 250px);
    font-family: inherit; 
    
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

textarea::-webkit-resizer {
  display: none;
}

textarea::-webkit-scrollbar-corner {
  background: transparent
}

.contact-submit-button {
    border: none;
    background-color: rgb(69, 218, 228);
    font-family: inherit; 
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px 50px;
    margin-top: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    &:hover {
        cursor:pointer; 
        background-color: rgb(64, 205, 215);
    }
}

.animate-fast {
    --animate-duration: 0.7s;
}

.email-toast-notification {
  position: fixed;
  bottom: 30px;
  right: 30px;
  backdrop-filter: blur(10px);
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  font-size: 20px;
}

.email-toast-sending {
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.1);
}

.email-toast-error {
  background-color: rgba(250, 3, 3, 0.2);
  border: 4px solid rgba(250, 3, 3, 0.1);
}

.email-toast-success {
  background-color: rgba(48, 240, 147, 0.2);
  border: 4px solid rgba(48, 240, 147, 0.1);
}