@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color:white;
  text-decoration: none;
  background: rgb(0, 0, 0) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --accent-color: rgb(119, 246, 255);
}

::-webkit-scrollbar {
  display: none;
}