.timeline-container {
  width: 90%;
  margin: 70px 0;
}

.timeline-container::after {
  margin: 70px 0 0 0;
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--accent-color);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.experience-page-alignment-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
}